$blue:#C7F7FF;
$medblue:#89C0C9;
$drkblue:#3a5E63;
$brown:#C9A689;
$drkbrown:#7C593C;
$grey:#d4d4d4;
$drkgrey:#222;
$white: #fff;
$sans-serif: Josefin Sans,
Trebuchet MS,
Helvetica,
sans-serif;
$serif: Cardo,
Palatino Linotype,
Book Antiqua,
Palatino,
serif;
$xsf:1rem;
$sf:1.414rem;
$mf:1.999rem;
$mlf:2.827rem;
$lf:3.998rem;
$xlf:4rem;
$tablet: 701px;
$desktop: 901px;
$widescreen: 1401px;
